<html>
<head>
  <style>
ul.as-selections{list-style-type:none;border-top:1px solid #888;border-bottom:1px solid #b6b6b6;border-left:1px solid #aaa;border-right:1px solid #aaa;padding:4px 0 4px 4px;margin:0;overflow:auto;background-color:#fff;box-shadow:inset 0 1px 2px #888;-webkit-box-shadow:inset 0 1px 2px #888;-moz-box-shadow:inset 0 1px 2px #888;}
ul.as-selections.loading{background-color:#eee;}
ul.as-selections li{float:left;margin:1px 4px 1px 0;}
ul.as-selections li.as-selection-item{color:#2b3840;font-size:13px;font-family:"Lucdia Grande",arial,sans-serif;text-shadow:0 1px 1px #fff;background-color:#ddeefe;background:-moz-linear-gradient(top,#ddeefe,#bfe0f1);background-image:-webkit-gradient(linear,0% 0,0% 100%,from(#ddeefe),to(#bfe0f1));border:1px solid #acc3ec;border-top-color:#c0d9e9;padding:2px 7px 2px 10px;border-radius:12px;-webkit-border-radius:12px;-moz-border-radius:12px;box-shadow:0 1px 1px #e4edf2;-webkit-box-shadow:0 1px 1px #e4edf2;-moz-box-shadow:0 1px 1px #e4edf2;}
ul.as-selections li.as-selection-item:last-child{margin-left:30px;}
ul.as-selections li.as-selection-item a.as-close{float:right;margin:1px 0 0 7px;padding:0 2px;cursor:pointer;color:#5491be;font-family:"Helvetica",helvetica,arial,sans-serif;font-size:14px;font-weight:bold;text-shadow:0 1px 1px #fff;-webkit-transition:color .1s ease-in;}
ul.as-selections li.as-selection-item.blur{color:#666;background-color:#f4f4f4;background:-moz-linear-gradient(top,#f4f4f4,#d5d5d5);background-image:-webkit-gradient(linear,0% 0,0% 100%,from(#f4f4f4),to(#d5d5d5));border-color:#bbb;border-top-color:#ccc;box-shadow:0 1px 1px #e9e9e9;-webkit-box-shadow:0 1px 1px #e9e9e9;-moz-box-shadow:0 1px 1px #e9e9e9;}
ul.as-selections li.as-selection-item.blur a.as-close{color:#999;}
ul.as-selections li:hover.as-selection-item{color:#2b3840;background-color:#bbd4f1;background:-moz-linear-gradient(top,#bbd4f1,#a3c2e5);background-image:-webkit-gradient(linear,0% 0,0% 100%,from(#bbd4f1),to(#a3c2e5));border-color:#6da0e0;border-top-color:#8bb7ed;}
ul.as-selections li:hover.as-selection-item a.as-close{color:#4d70b0;}
ul.as-selections li.as-selection-item.selected{border-color:#1f30e4;}
ul.as-selections li.as-selection-item a:hover.as-close{color:#1b3c65;}
ul.as-selections li.as-selection-item a:active.as-close{color:#4d70b0;}
ul.as-selections li.as-original{margin-left:0;}
ul.as-selections li.as-original input{border:none;outline:none;font-size:13px;width:120px;height:18px;padding-top:3px;}
ul.as-list{position:absolute;list-style-type:none;margin:2px 0 0 0;padding:0;font-size:14px;color:#000;font-family:"Lucdia Grande",arial,sans-serif;background-color:#fff;background-color:rgba(255,255,255,0.95);z-index:2;box-shadow:0 2px 12px #222;-webkit-box-shadow:0 2px 12px #222;-moz-box-shadow:0 2px 12px #222;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
li.as-result-item,li.as-message{margin:0;padding:5px 12px;background-color:transparent;border:1px solid #fff;border-bottom:1px solid #ddd;cursor:pointer;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
li:first-child.as-result-item{margin:0;}
li.as-message{margin:0;cursor:default;}
li.as-result-item.active{background-color:#3668d9;background:-moz-linear-gradient(top,#6e81f5,#3e52f2);background-image:-webkit-gradient(linear,0% 0,0% 64%,from(#6e81f5),to(#3e52f2));border-color:#3342e8;color:#fff;text-shadow:0 1px 2px #122042;}
li.as-result-item em{font-style:normal;background:#444;padding:0 2px;color:#fff;}
li.as-result-item.active em{background:#253f7a;color:#fff;}
@media screen and(-webkit-min-device-pixel-ratio:0){ul.as-selections{border-top-width:2px;}
ul.as-selections li.as-selection-item{padding-top:3px;padding-bottom:3px;}
ul.as-selections li.as-selection-item a.as-close{margin-top:-1px;}
ul.as-selections li.as-original input{height:19px;}
}
@media all and(-webkit-min-device-pixel-ratio:10000),not all and(-webkit-min-device-pixel-ratio:0){ul.as-list{border:1px solid #888;}
ul.as-selections li.as-selection-item a.as-close{margin-left:4px;margin-top:0;}
}
ul.as-list{border:1px solid #888\9;}
ul.as-selections li.as-selection-item a.as-close{margin-left:4px\9;margin-top:0\9;}
ul.as-list,x:-moz-any-link,x:default{border:1px solid #888;}
BODY:first-of-type ul.as-list,x:-moz-any-link,x:default{border:none;}
.ac_results{padding:0;border:1px solid WindowFrame;background-color:Window;overflow:hidden;z-index:1000;}
.ac_results ul{list-style-position:outside;list-style:none;padding:0;margin:0;}
.ac_results li{margin:0;padding:2px 5px;cursor:default;display:block;font:menu;font-size:12px;overflow:hidden;text-align:left;}
.ac_loading{background:Window url('/images/modules/ajax/indicator.gif') right center no-repeat;}
.ac_over{background-color:Highlight;color:HighlightText;text-align:left;}
.tipsy{padding:5px;font-size:11px;text-shadow:1px 1px 0 #000;opacity:.8;filter:alpha(opacity=80);background-repeat:no-repeat;}
.tipsy-inner{padding:5px 8px 4px 8px;background-color:black;color:white;max-width:235px;text-align:center;-moz-border-radius:3px;-webkit-border-radius:3px;}
.tipsy-north{background-image:url(/images/modules/tipsy/tipsy-north.gif);background-position:top center;}
.tipsy-south{background-image:url(/images/modules/tipsy/tipsy-south.gif);background-position:bottom center;}
.tipsy-east{background-image:url(/images/modules/tipsy/tipsy-east.gif);background-position:right center;}
.tipsy-west{background-image:url(/images/modules/tipsy/tipsy-west.gif);background-position:left center;}
.tipsy-west .tipsy-inner{text-align:left;}
.accountcols .main{float:left;width:560px;}
.accountcols .sidebar{float:right;width:330px;}
.accountcols .main>p.overview{margin-top:20px;color:#333;}
.statgroup{margin:10px 0;font-size:12px;color:#333;}
.statgroup dl{padding:3px 0;border-bottom:1px solid #ddd;}
.statgroup dl:first-child{border-top:1px solid #ddd;}
.statgroup dl dt{float:left;width:80px;color:#999;}
.statgroup dl dd.action{float:right;font-weight:bold;}
.statgroup ul.actions,.usagebars ul.actions{margin:5px 0;}
.statgroup ul.actions:after,.usagebars ul.actions:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
* html .statgroup ul.actions,* html .usagebars ul.actions{height:1%;}
.statgroup ul.actions,.usagebars ul.actions{display:inline-block;}
.statgroup ul.actions,.usagebars ul.actions{display:block;}
.statgroup ul.actions li,.usagebars ul.actions li{list-style-type:none;margin:0;height:25px;font-weight:bold;}
.statgroup ul.actions li.first,.usagebars ul.actions li.first{float:left;line-height:25px;}
.statgroup ul.actions li.last,.usagebars ul.actions li.last{float:right;}
.fieldgroup p.explain.planusage{color:#333;}
.fieldgroup p.explain.planusage strong{color:#000;}
.usagebars{margin-top:10px;}
.usagebars dl{margin:0;padding:6px 0 8px 0;font-size:12px;color:#999;border-bottom:1px solid #ddd;}
.usagebars dl:first-child{border-top:1px solid #ddd;}
.htabs .usagebars dl{border:none;}
.site{margin:0 auto;width:920px;padding:0 15px;}
#header{border-bottom:none;margin-bottom:0;}
#header.basic{margin-bottom:20px;}
h2,h3{margin:1em 0;}
.sidebar h4{margin:15px 0 5px 0;font-size:11px;color:#666;text-transform:uppercase;}
.file{margin:15px 0;}
.file>.syntax{padding:5px;background:#f8f8ff;border:1px solid #d4d4e3;}
.file>h3{margin:0;padding:5px;font-size:12px;color:#333;text-shadow:1px 1px 0 rgba(255,255,255,0.5);border:1px solid #ccc;border-bottom:none;background:url(/images/modules/commit/file_head.gif) 0 0 repeat-x #eee;}
.blob-editor textarea{font-family:Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;font-size:11px;}
dl.form{margin:15px 0;}
.fieldgroup dl.form:first-child{margin-top:0;}
.hfields{margin:15px 0;}
.hfields:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
* html .hfields{height:1%;}
.hfields{display:inline-block;}
.hfields{display:block;}
.hfields dl.form{float:left;margin:0 30px 0 0;}
.hfields button.classy,.hfields a.button.classy{float:left;margin:15px 25px 0 -20px;}
.hfields select{margin-top:5px;}
.hfields dl.form dd label{display:inline-block;margin:5px 0 0 15px;color:#666;}
.hfields dl.form dd label:first-child{margin-left:0;}
.hfields dl.form dd label img{position:relative;top:-2px;}
input[type=text].short,dl.form input[type=text].short{width:250px;}
p.checkbox{margin:15px 0;font-size:14px;font-weight:bold;color:#333;}
.ejector{position:relative;margin:15px 0;padding:10px;border:1px solid #dcb5b5;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.ejector.ejecting{padding-right:50px;background:url(/images/icons/bigwarning.png) 98% 50% no-repeat #fffeb2;}
.ejector h3{margin:0;color:#900;}
.ejector p{margin:0;color:#666;}
.ejector p+p{margin-top:15px;}
.ejector p strong.yell{color:#000;background:#fff693;}
.ejector.ejecting p{font-weight:bold;color:#000;}
.ejector button.classy,.ejector .button.classy{position:absolute;top:50%;right:10px;margin-top:-18px;}
.ejector-actions{margin:-5px 0 15px 0;}
.ejector-actions .cancel{font-weight:bold;font-size:11px;}
.ejector-actions button,.ejector-actions .button,.ejector-actions .minibutton{float:right;}
.fieldgroup{position:relative;margin-top:10px;}
.sidebar .fieldgroup+.fieldgroup{margin-top:40px;}
.fieldgroup h2,h2.account{margin:15px 0 0 0;font-size:18px;font-weight:normal;color:#666;}
p.explain{font-size:12px;color:#666;}
.fieldgroup p.explain{margin:0;}
.fieldgroup .fields{margin:10px 0 0 0;padding:10px;background:url(/images/modules/account/fieldgroup_back.png) 0 0 no-repeat;}
.equacols .fieldgroup .fields,.htabs .columns.typical .fieldgroup .fields,.htabs .columns.hooks .fieldgroup .fields{background-image:url(/images/modules/account/fieldgroup_back-440.png);}
.fieldgroup p.addlink{margin:15px 0;font-size:14px;font-weight:bold;}
.fieldgroup p.checkbox label{margin-left:5px;}
.fieldgroup p.checkbox .succeed{margin-left:10px;font-weight:normal;color:#3c0;}
.fieldgroup p.danger{margin:15px 0;font-weight:bold;color:#c00;}
.fieldgroup p:first-child{margin-top:0;}
.fieldgroup p.extra{margin:-8px 0 15px 0;font-size:12px;color:#666;}
.fieldgroup p.legal{margin:15px 0;font-size:14px;font-weight:bold;}
.fieldgroup div.error{margin:10px 0 0 0;padding:10px;color:#fff;font-weight:bold;background:#a00;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-font-smoothing:antialiased;}
.fieldgroup div.error p{margin:0;}
.fieldgroup div.error p+p{margin-top:10px;}
ul.fieldpills{position:relative;margin:0;}
ul.fieldpills li{position:relative;list-style-type:none;margin:3px 0;min-height:24px;line-height:24px;padding:4px 5px;background:#eee;font-size:12px;font-weight:bold;color:#333;border:1px solid #ddd;-webkit-border-radius:3px;-moz-border-radius:3px;}
ul.fieldpills li:first-child{margin-top:0;}
ul.fieldpills li:hover{background-color:#f5f5f5;border-color:#ccc;}
ul.fieldpills.public_keys li{padding-left:28px;background-image:url(/images/modules/account/public_key.png);background-repeat:no-repeat;background-position:10px 50%;}
ul.fieldpills.teams li{padding-left:28px;background-image:url(/images/icons/team.png);background-repeat:no-repeat;background-position:5px 50%;}
ul.fieldpills li .remove{position:absolute;top:50%;right:10px;margin-top:-9px;width:18px;height:18px;text-indent:-9999px;text-decoration:none;background:url(/images/modules/account/close_pill.png) 0 0 no-repeat;}
ul.fieldpills li .remove:hover{background-position:0 -50px;}
ul.fieldpills li img.remove{background:none;}
.avatarexplain{margin:15px 0;height:54px;}
.avatarexplain img{float:left;margin-right:10px;padding:2px;background:#fff;border:1px solid #ddd;}
.avatarexplain p{margin:0;padding-top:10px;font-size:12px;line-height:1;color:#999;}
.avatarexplain p strong{display:block;font-size:14px;font-weight:bold;color:#333;}
.add-pill-form{margin:15px 0;padding:4px 5px;background:#f5f5f5;font-size:12px;color:#333;border:1px solid #ddd;-webkit-border-radius:5px;-moz-border-radius:5px;}
.add-pill-form input[type=text]{font-size:14px;width:350px;padding:2px 5px;color:#666;}
.equacols .add-pill-form input[type=text],.htabs .columns.typical .add-pill-form input[type=text]{width:332px;}
.add-pill-form img{vertical-align:middle;margin:0 5px;}
.add-pill-form .error_box{margin:5px 0 0 0;padding:0;border:none;background:transparent;color:#c00;font-size:12px;}
.add-pill-form label{margin:12px 0 2px 0;display:block;font-weight:bold;color:#333;}
.add-pill-form label:first-child{margin-top:0;}
.add-pill-form textarea.key_value{font-size:11px;font-family:Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;width:95%;height:120px;}
.add-pill-form .form-actions{margin-top:10px;text-align:left;}
ul.smalltabs{margin:15px 0 15px 0;height:24px;line-height:24px;font-size:12px;color:#555;text-shadow:1px 1px 0 rgba(255,255,255,0.5);background:url(/images/modules/pagehead/breadcrumb_back.gif) 0 0 repeat-x;border:1px solid #d1d1d1;border-bottom-color:#bbb;-webkit-border-radius:3px;-moz-border-radius:3px;}
ul.smalltabs li{list-style-type:none;display:inline;}
ul.smalltabs a{float:left;height:24px;padding:0 7px;line-height:24px;color:#666;font-weight:bold;text-decoration:none;border-right:1px solid #ababab;border-left:1px solid #f6f6f6;}
ul.smalltabs li:first-child a{border-left:none;}
ul.smalltabs a.selected{color:#333;background:url(/images/modules/tabs/small_highlight.gif) 0 0 repeat-x;}
ul.smalltabs li:first-child a.selected{-webkit-border-top-left-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-radius-topleft:3px;-moz-border-radius-bottomleft:3px;border-top-left-radius:3px;border-bottom-left-radius:3px;}
ul.smalltabs .counter{display:inline-block;position:relative;top:-1px;margin-left:2px;padding:1px 3px 0 3px;font-size:9px;background:#ececec;border:1px solid #afafaf;border-right-color:#ececec;border-bottom-color:#ececec;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
ul.smalltabs .counter.green_highlight{background:#cfc;color:#393;}
ul.smalltabs .counter.red_highlight{background:#fcc;color:#933;}
ul.smalltabs .icon{display:inline-block;position:relative;top:4px;width:16px;height:16px;opacity:.5;}
ul.smalltabs a.selected .icon{opacity:1.0;}
ul.smalltabs .discussion-icon{background:url(/images/modules/tabs/icon_discussion.png) 0 0 no-repeat;}
ul.smalltabs .commits-icon{background:url(/images/modules/tabs/icon_commits.png) 0 0 no-repeat;}
ul.smalltabs .fileschanged-icon{background:url(/images/modules/tabs/icon_fileschanged.png) 0 0 no-repeat;}
p.breadcrumb{margin:10px 0 0 0;padding:0 7px;height:24px;line-height:24px;font-size:12px;color:#555;text-shadow:1px 1px 0 rgba(255,255,255,0.5);background:url(/images/modules/pagehead/breadcrumb_back.gif) 0 0 repeat-x;border:1px solid #d1d1d1;border-bottom-color:#bbb;-webkit-border-radius:3px;-moz-border-radius:3px;}
p.breadcrumb a{color:#333;font-weight:bold;}
p.breadcrumb .separator{display:inline-block;margin:-1px 3px 0 3px;height:8px;width:8px;text-indent:-9999px;vertical-align:middle;background:url(/images/modules/pagehead/breadcrumb_separator.png) 0 0 no-repeat;}
.metabox+p.breadcrumb{margin-top:-10px;}
.htabs:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
* html .htabs{height:1%;}
.htabs{display:inline-block;}
.htabs{display:block;}
.htabs{margin:15px 0;border-top:1px solid #ddd;background:url(/images/modules/tabs/side_rule.gif) 230px 0 repeat-y;}
.htabs .tab-content{float:right;width:670px;}
ul.sidetabs{float:left;margin:0;width:229px;}
ul.sidetabs li{list-style-type:none;margin:10px 0;}
ul.sidetabs li a{display:block;padding:8px 10px 7px 10px;font-size:14px;text-decoration:none;border:1px solid transparent;-webkit-border-top-left-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-topleft:4px;-moz-border-radius-bottomleft:4px;}
ul.sidetabs li a:hover{border-top-left-radius:4px;border-bottom-left-radius:4px;background:#f1f1f1;}
ul.sidetabs li a.selected{color:#333;font-weight:bold;text-shadow:1px 1px 0 #fff;border:1px solid #ddd;border-right:none;background:url(/images/modules/tabs/sidebar_selected.gif) 0 0 repeat-x;}
.columns.typical .main{float:left;width:560px;}
.columns.typical .sidebar{float:right;width:330px;}
.htabs .columns.typical .main{width:440px;}
.htabs .columns.typical .sidebar{width:210px;}
.columns.dashcols .main{float:left;width:560px;}
.columns.dashcols .sidebar{float:right;width:337px;}
.columns.equacols .column{width:440px;float:left;}
.columns.equacols .secondary{float:right;}
.columns.equacols.bordered{border-top:1px solid #ddd;border-bottom:1px solid #ddd;background:url(/images/modules/global/column_separator.gif) 50% 0 repeat-y;}
.columns.hooks .sidebar{float:left;width:210px;}
.columns.hooks .main{float:right;width:440px;}
.columns.profilecols .first{float:left;width:450px;}
.columns.profilecols .last{float:right;width:450px;}
.columns.browser .sidebar{float:left;width:220px;padding-right:19px;border-right:1px solid #ddd;}
.columns.browser .main{float:right;width:660px;}
#impact_legend p,#impact_graph p{margin:0;}
.cleanheading h2{font-size:20px;margin:2px 0 15px 0;}
.cleanheading p.subtext{margin:-15px 0 10px 0;color:#666;}
.inset-callout{margin:15px 0;padding:10px;font-size:12px;color:#333;background:#eee;border:1px solid #d5d5d5;border-right-color:#e5e5e5;border-bottom-color:#e5e5e5;-webkit-border-radius:3px;-moz-border-radius:3px;}
.help-callout{font-size:11px;}
.help-callout p:last-child{margin-bottom:0;}
.help-callout h2{margin-top:20px;}
.help-callout h2:first-child{margin:0;}
ul.features{margin:50px 0 20px 0;font-size:14px;font-weight:bold;color:#666;}
ul.features li{list-style-type:none;margin:5px 0;padding:2px 0 0 20px;background:url(/images/modules/featured_callout/big_check.png) 0 0 no-repeat;}
.featured-callout ul.features{margin:10px 0;font-size:12px;color:#2e3031;}
#planchange ul.features{margin-top:20px;}
.featured-callout h2.orgs-heading{padding-left:65px;background:url(/images/modules/featured_callout/orgs_icon.png) 0 50% no-repeat;}
.featured-callout h2.hooks-heading{padding-left:30px;background:url(/images/modules/featured_callout/hooks_icon.png) 0 50% no-repeat;}
.infotip{margin:15px 0;padding:10px;font-size:12px;color:#333;background:#fbffce;border:1px solid #deea53;border-right-color:#eff2c7;border-bottom-color:#eff2c7;-webkit-border-radius:3px;-moz-border-radius:3px;}
.infotip p{margin:0;}
.infotip p+p{margin-top:15px;}
a.button{height:23px;padding:0 10px;line-height:23px;font-size:11px;font-weight:bold;color:#fff;text-shadow:-1px -1px 0 #333;-webkit-border-radius:3px;-moz-border-radius:3px;background:url(/images/modules/buttons/black.gif) 0 0 repeat-x;}
a.button{-webkit-text-stroke:1px transparent;}
@media only screen and(max-device-width:480px){a.button{-webkit-text-stroke:0 black;}
}
a.button:hover{background-position:0 -23px;text-decoration:none;}
.fi .logo{float:left;margin-right:12px;height:31px;padding:4px 9px 4px 6px;line-height:40px;font-weight:bold;background:#fff;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.fi h3{color:#fff;text-shadow:-1px -1px 0 rgba(0,0,0,0.5);}
.fi p{color:#999;text-shadow:-1px -1px 0 rgba(0,0,0,0.8);}
.fi .button{margin:1px 0 0 0;float:right;}
ul.plans-features{margin:25px 0 25px -20px;font-size:14px;}
ul.plans-features li{list-style-type:none;display:inline-block;margin:0 0 0 20px;padding-left:20px;font-weight:bold;color:#000;background:url(/images/modules/pricing/check.png) 0 50% no-repeat;}
ul.plans-features li.intro{font-weight:normal;color:#666;padding:0;background:transparent;}
.faqs{color:#666;font-size:14px;}
.faqs h2{margin:30px 0 -10px 0;font-size:16px;color:#000;}
.faqs h2:first-child{margin-top:15px;}
.faqs a{font-weight:bold;}
.featured-brands{margin:20px 0;padding:5px 10px;background:#fefefe;background:-webkit-gradient(linear,0% 0,0% 100%,from(#fefefe),to(#f2f8fa));background:-moz-linear-gradient(-90deg,#fefefe,#f2f8fa);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fefefe',endColorstr='#f2f8fa');border:1px solid #ddd;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;text-align:center;font-size:14px;color:#677a84;}
ul.selling-points{margin:25px 0;}
ul.selling-points li{list-style-type:none;margin:15px 0;padding-left:20px;font-weight:bold;font-size:14px;color:#000;background:url(/images/modules/pricing/check.png) 0 50% no-repeat;}
ul.cards{margin:0 0 10px 0;height:25px;}
ul.cards li{list-style-type:none;float:left;margin:0 7px 0 0;}
ul.cards li.text{position:relative;top:5px;font-size:11px;color:#999;}
ul.cards .card{float:left;width:39px;height:25px;text-indent:-9999px;background-position:0 0;background-repeat:no-repeat;}
ul.cards .card.disabled{background-position:0 -25px;opacity:.3;-moz-opacity:.3;filter:alpha(opacity=30);}
ul.cards .card.visa{background-image:url(/images/modules/pricing/card-visa.gif);}
ul.cards .card.master{background-image:url(/images/modules/pricing/card-mastercard.gif);}
ul.cards .card.american_express{background-image:url(/images/modules/pricing/card-amex.gif);}
ul.cards .card.discover{background-image:url(/images/modules/pricing/card-discover.gif);}
ul.cards .card.jcb{background-image:url(/images/modules/pricing/card-jcb.gif);}
ul.cards .card.diners_club{background-image:url(/images/modules/pricing/card-diners.gif);}
.equacols .column>.fieldgroup:first-child{margin-top:0;}
ul.fieldpills.usernames li img{margin-right:2px;padding:1px;background:#fff;border:1px solid #ddd;vertical-align:middle;}
ul.fieldpills.repos-pills>li{margin:0 0 5px 0;padding:3px 0 3px 28px;background-image:url(/images/icons/public.png) #fff!important;background-position:5px 50%!important;background-repeat:no-repeat;}
ul.fieldpills.repos-pills>li.private{background-image:url(/images/icons/private.png);background-color:#FFFEEB;}
ul.fieldpills.repos-pills>li a em{margin-top:1px;display:block;font-size:11px;font-style:normal;font-weight:normal;color:#666;}
ul.grouplist{margin:15px 0 20px 0;border-top:1px solid #ddd;}
ul.grouplist>li{list-style-type:none;position:relative;padding:8px 0;border-bottom:1px solid #ddd;}
ul.grouplist .icontip{position:absolute;display:block;width:32px;height:32px;top:8px;left:0;}
ul.grouplist>li.iconed{padding-left:38px;}
ul.grouplist>li.org-icon{background:url(/images/modules/organizations/org_icon.gif) 0 0 no-repeat;}
ul.grouplist>li.admin.org-icon{background-position:0 -100px;}
ul.grouplist li h3{margin:0;font-size:16px;}
ul.grouplist li p{margin:-2px 0 0 0;font-size:12px;color:#999;}
ul.grouplist>li ul.actions{position:absolute;top:50%;right:0;margin:-12px 0 0 0;}
ul.grouplist>li ul.actions li{display:inline-block;margin:0 0 0 5px;}
.subnavd .pagehead ul.tabs,.pagehead.repohead ul.tabs{-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;-moz-border-radius-bottomright:0;-moz-border-radius-bottomleft:0;border-bottom:1px solid #ddd;}
.subnav-bar{position:relative;height:30px;padding:0 10px;background:url(/images/modules/pagehead/subnav_background.gif) 0 0 repeat-x;border:1px solid #ddd;border-top:1px solid #fafafa;border-bottom:1px solid #d2d2d2;z-index:3;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;}
.subnav-bar>ul{position:relative;margin:4px 0 0 -6px;}
.subnav-bar>ul>li{position:relative;list-style-type:none;float:left;margin-right:10px;}
.subnav-bar>ul>li>a{position:relative;display:block;height:15px;padding:3px 5px;font-size:11px;text-decoration:none;color:#666;border:1px solid transparent;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;z-index:5;}
.subnav-bar>ul>li>a.dropdown{padding-right:15px;background-image:url(/images/modules/pagehead/subnav_dropdown_arrow.png);background-position:100% -20px;background-repeat:no-repeat;}
.subnav-bar>ul>li:hover>a{color:#333;background-color:#f8f8f8;border-color:#ccc;}
.subnav-bar>ul>li>a.selected{color:#000;text-shadow:1px 1px 0 rgba(255,255,255,0.6);background:#ddd;font-weight:bold;border-color:#c5c5c5;border-right-color:#eee;border-bottom-color:#eee;cursor:default;}
.subnav-bar>ul>li:hover>a.dropdown{background-position:100% 0;border-color:#ccc;border-bottom-color:#e2e2e2;-webkit-border-radius:0;-moz-border-radius:0;}
.subnav-bar>ul>li>a.defunct{color:#999;background:transparent;border-color:transparent!important;cursor:default;}
.subnav-bar>ul>li>ul{display:none;position:absolute;top:22px;max-height:275px;background:#f8f8f8;border:1px solid #ccc;overflow:auto;z-index:4;}
.subnav-bar>ul>li:hover>ul{display:block;margin:0;min-width:180px;}
.subnav-bar>ul>li>ul>li{list-style-type:none;margin:0;border-top:1px solid #e2e2e2;font-size:11px;}
.subnav-bar>ul>li>ul>li:first-child{border-top:none;}
.subnav-bar>ul>li>ul>li>a,.subnav-bar>ul>li>ul>li>strong{padding:4px 5px;display:block;font-weight:normal;}
.subnav-bar>ul>li>ul>li>a{font-weight:bold;}
.subnav-bar>ul>li>ul>li>a:hover{text-decoration:none;background-color:#eee;}
.subnav-bar #repo-search-form{float:right;margin-top:6px;}
.subnav-bar #repo-search-form input{width:170px;}
.metabox-loader,.context-loader{position:absolute;top:0;left:50%;margin-left:-75px;width:110px;padding:10px 10px 10px 30px;font-weight:bold;font-size:12px;color:#666;background:url(/images/modules/pagehead/metabox_loader.gif) 10px 50% no-repeat #eee;border:1px solid #ddd;border-top:1px solid #fff;-webkit-border-radius:5px;-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0;-moz-border-radius:5px;-moz-border-radius-topleft:0;-moz-border-radius-topright:0;z-index:20;}
.metabox-loader{top:-1px;}
.subnav-bar #repo-search-form input.search.notnative{width:139px;height:15px;padding:3px 10px 1px 21px;font-size:11px;border:none;background:url(/images/modules/pagehead/repo_search.gif) 0 -19px no-repeat;}
.subnav-bar #repo-search-form input.search.notnative.placeholder{background-position:0 0;}
.profilecols ul.stats{margin:-8px 0 0 0;}
.profilecols ul.stats li{list-style-type:none;float:left;margin-right:30px;}
.profilecols ul.stats li strong{display:block;font-size:36px;font-weight:bold;color:#000;}
.profilecols ul.stats li span{display:block;margin-top:-10px;font-size:11px;color:#999;}
.profilecols ul.stats li a:hover{text-decoration:none;}
.profilecols ul.stats li a:hover strong,.profilecols ul.stats li a:hover span{color:#4183c4;text-decoration:none;}
.following{clear:both;margin-top:80px;}
.following h3{margin:0 0 5px 0;font-size:12px;}
.following h3 a{font-weight:normal;margin-left:5px;}
.following ul.avatars{margin:0;}
.following ul.avatars li{list-style-type:none;display:inline;margin:0 1px 0 0;}
.following ul.avatars li img{padding:1px;border:1px solid #ddd;}
.profilecols h2{position:relative;font-size:18px;margin:0 0 5px 0;}
.profilecols h2 em{font-style:normal;color:#999;}
.profilecols h2 .repo-filter{position:absolute;right:0;bottom:2px;}
.profilecols h2 .repo-filter input{width:176px;height:15px;line-height:15px;padding:2px 12px;background:url(/images/modules/repo_list/profile_filter_input.gif) 0 -19px no-repeat;border:none;}
.profilecols h2 .repo-filter input.native{width:200px;height:auto;padding:2px 5px;font-size:11px;background-image:none;}
.profilecols h2 .repo-filter input.placeholder{background-position:0 0;}
.profilecols h2 .repo-filter input:focus{background-position:0 -19px;}
.profilecols .noactions{margin:5px 0 0 0;padding:10px;color:#333;font-size:14px;font-weight:normal;text-align:center;background:#ffe;border:1px solid #ddd;}
.profilecols .noactions p{margin:0;line-height:1.2;text-shadow:1px 1px 0 #fff;}
h1.avatared .tooltipped{display:inline-block;}
.vcard dl{margin:5px 0 0 0;font-size:12px;}
.vcard dl:first-child{margin-top:0;}
.vcard dl dt{margin:0;float:left;width:115px;color:#999;}
.vcard dl dd{margin:0;}
.browser{margin:20px 0;}
ul.bignav{margin:0 0 -5px 0;}
ul.bignav li{list-style-type:none;margin:0 0 5px 0;}
ul.bignav li a{display:block;padding:8px 10px;font-size:14px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
ul.bignav li a:hover{text-decoration:none;background:#eee;}
ul.bignav li a.selected{color:#fff;background:#4183c4;}
ul.bignav li a .count{float:right;font-weight:bold;color:#777;}
ul.bignav li a.selected .count{color:#fff;}
.filterbox{margin:8px 0;padding:10px;background:#fafafb;border:1px solid #ddd;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.filterbox input{width:100%;}
ul.smallnav{margin:0;}
ul.smallnav li{list-style-type:none;margin:0 0 2px 0;}
ul.smallnav li a{display:block;padding:4px 10px;font-size:12px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
ul.smallnav li.zeroed a{color:#999;}
ul.smallnav li a:hover{text-decoration:none;background:#eee;}
ul.smallnav li a.selected{color:#fff;background:#4183c4;}
ul.smallnav li a .count{float:right;font-weight:bold;color:#777;}
ul.smallnav li.zeroed a .count{font-weight:normal;}
ul.smallnav li a.selected .count{color:#fff;}
.browser-title{margin:0 0 10px 0;}
.browser-title h2{margin:0;font-size:16px;}
.browser-content{position:relative;background:#f6f6f6;border:1px solid #ddd;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.browser-content .context-loader{top:25px;}
.browser-content .filterbar{height:24px;background:url(/images/modules/pagehead/breadcrumb_back.gif) 0 0 repeat-x;-webkit-border-top-right-radius:5px;-webkit-border-top-left-radius:5px;-moz-border-radius-topright:5px;-moz-border-radius-topright:5px;border-top-right-radius:5px;border-top-left-radius:5px;border-bottom:1px solid #bbb;}
.search-match{background:#fffccc;font-weight:bold;}
.mirror-link{float:right;}
.big-search{margin:5px 0 15px 0;padding-bottom:10px;border-bottom:1px solid #ddd;text-align:center;}
.big-search input.textfield{font-size:14px;padding:2px 5px;width:300px;}
.addon{margin:10px 0 10px -10px;width:100%;padding:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.addon:hover{background:#e1eff8;}
.addon input[type=checkbox]{float:left;margin:5px 0 0 0;}
.addon h3{margin:0 0 2px 20px;font-size:16px;color:#222;}
.addon p{margin:0 0 0 20px;color:#444;}
.addon p+p{margin-top:1em;}
.addon.loading .indicator{display:inline-block;margin-left:5px;width:16px;height:16px;background:url(/images/modules/ajax/indicator.gif) 0 0 no-repeat;}
.addon.success .indicator{display:inline-block;margin-left:5px;width:16px;height:16px;background:url(/images/modules/ajax/success.png) 0 0 no-repeat;}
.addon.error .indicator{display:inline-block;margin-left:5px;width:16px;height:16px;background:url(/images/modules/ajax/error.png) 0 0 no-repeat;}
ul.hook-list{margin:0 0 15px 0;border-top:1px solid #ddd;}
ul.hook-list li{list-style-type:none;margin:0;padding:1px 0;font-size:12px;font-weight:bold;border-bottom:1px solid #ddd;}
ul.hook-list li a{display:block;padding:3px 0 3px 5px;color:#999;text-decoration:none;background:url(/images/modules/services/icons.png) 100% 0 no-repeat;}
ul.hook-list li.enabled a{color:#000;}
ul.hook-list li.enabled.inactive a{background-position:100% -100px;}
ul.hook-list li.active a{background-position:100% -50px;}
ul.hook-list li a.selected{color:#fff;background-color:#3d7cb9;}
input.url-field{float:left;width:330px;padding:3px 5px 2px 5px;height:16px;border:1px solid #ccc;border-left:none;font-family:Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;font-size:11px;color:#666;}
.url-box p{float:left;margin:0 0 0 5px;height:23px;line-height:23px;font-size:11px;color:#666;}
.url-box p strong{color:#000;}
.url-box .clippy-tooltip{float:left;margin:4px 0 0 5px;}
.pledgie{float:right;margin:0 0 10px 20px;}
.adminmetabox .pledgie{margin-bottom:0;}
a.pledgie-button{height:30px;padding:0 0 0 65px;font-size:12px;font-weight:bold;color:#333;text-decoration:none;text-shadow:1px 1px 0 #fff;background:url(/images/modules/pagehead/pledgie_button.gif) 0 0 no-repeat;}
a.pledgie-button span{position:relative;right:-2px;display:block;height:30px;line-height:30px;padding-right:10px;background:url(/images/modules/pagehead/pledgie_button.gif) 100% 0 no-repeat;}
a.pledgie-button:hover{color:#000;background-position:0 -30px;}
a.pledgie-button:hover span{background-position:100% -30px;}
a.edit-pledgie{display:block;margin-top:5px;text-align:center;font-size:11px;font-weight:bold;}
.syntax .gc{color:#999;background-color:#EAF2F5;}
#main{min-height:100%;height:auto!important;height:100%;margin:0 auto -8.6em;}
.push{height:8.6em;padding-bottom:4em;}
input[type=text].error,.standard_form form label.error input.text,.standard_form form label.error textarea{border:1px solid #a00;background-color:#f2e1e1;}
#contact-form{margin-top:1.3em;}
#contact-form td{padding:.5em;}
#contact-form input[type='text'],#contact-form textarea{width:30em;}
.page_form th,.page_form td{padding:5px;}
.page_form th{padding-right:10px;text-align:right;}
.page_form td textarea{width:400px;height:70px;}
#all_commit_comments .comment .body img{max-width:67.5em;}
#path{font-size:140%;padding:.8em 0;}
#toc{font-family:Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;font-size:90%;}
table#toc{border-top:1px solid #ddd;border-spacing:0;padding:0;margin:10px 0;width:100%;}
#toc td{padding:.4em 5px .4em 5px;border-bottom:1px solid #ddd;}
#toc td.status{width:20px;padding-left:0;}
#toc td.status .stat-icon{display:block;width:20px;height:19px;text-indent:-9999px;background:url(/images/modules/commit/file_modes.png) 0 0 no-repeat;}
#toc td.modified .stat-icon{background-position:0 -50px;}
#toc td.added .stat-icon{background-position:0 0;}
#toc td.removed .stat-icon{background-position:0 -100px;}
#toc td.renamed .stat-icon{background-position:0 -150px;}
#toc .diffstat{padding-right:0;width:1%;}
#toc .diffstat{white-space:nowrap;text-align:right;}
#toc .diffstat a{text-decoration:none;padding-right:15px;background:url(/images/modules/commit/jump.png) 100% 5px no-repeat;}
#toc .diffstat a:hover{background-position:100% -45px;}
#toc .diffstat-summary{font-family:helvetica,arial,freesans,clean,sans-serif;text-align:right;color:#666;font-weight:bold;font-size:11px;}
#toc .diffstat-bar{display:inline-block;width:50px;height:9px;text-decoration:none;text-align:left;background:url(/images/modules/commit/diffstat.png) 0 -100px repeat-x;}
#toc .diffstat .plus{float:left;display:block;width:10px;height:9px;text-indent:-9999px;background:url(/images/modules/commit/diffstat.png) 0 0 repeat-x;}
#toc .diffstat .minus{float:left;width:10px;height:9px;text-indent:-9999px;background:url(/images/modules/commit/diffstat.png) 0 -50px repeat-x;}
#entice{margin:-.5em 0 1em 0;padding:.25em .5em;border:2px solid #20BC00;overflow:hidden;background-color:#DEFFDD;}
#entice .explanation{float:left;font-size:100%;width:45em;}
#entice .explanation h2{margin:0 0 .25em 0;font-weight:normal;font-size:130%;}
#entice .explanation p{color:#052000;}
#entice .signup{float:right;padding:.5em 6.5em 0 0;text-align:center;}
#entice .signup a{font-size:190%;color:#0C4A00;text-decoration:underline;}
#browser{margin-bottom:1em;}
#browser table{border-top:1px solid #d8d8d8;border-left:1px solid #d8d8d8;border-right:1px solid #d8d8d8;width:100%;font-family:Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;font-size:90%;}
#browser table th{text-align:left;font-weight:normal;background-color:#eaeaea;color:#999;padding:.5em .3em;border-bottom:1px solid #d8d8d8;}
#browser table .history{float:right;padding-right:5px;}
#browser table td{background:#f8f8f8 url(/images/modules/browser/row_bg.png) 0 100% repeat-x;padding:.5em .3em;color:#484848;border-bottom:1px solid #e1e1e1;}
#browser table td.icon{width:1.3em;}
#browser table td a.message{color:#484848;}
#browser table td span.ref{color:#aaa;}
#browser table.downloads td{vertical-align:top;}
#browser table.downloads td p{margin:0;padding:0;}
.uncommentable #files .bubble{display:none;}
#files .bubble.commented{background:url(/images/modules/commit/comment_bubble.png) no-repeat;}
#files .meta .bubble{font-family:'Bitstream Vera Sans Mono','Courier',monospace;margin:-0.2em 0 0 -3.9em;height:1.5em;}
#files .empty{background:none;}
#files .bubble span{display:block;line-height:1.4em;text-align:center;}
.blame{background-color:#f8f8f8!important;}
.blame table tr td{padding:.2em .5em;}
.blame .commit-date{color:#888;}
.blame table tr.section-first td{border-top:1px solid #ccc;}
.blame .line-number{background-color:#ececec;color:#aaa;padding:0 .5em;text-align:right;border-left:1px solid #ddd;border-right:1px solid #ddd;}
.blame .line-data{background-color:#f8f8ff;white-space:pre;}
.blame .commitinfo code{font-size:12px;}
.blame .commitinfo .date{color:#666;}
#dashboard{overflow:hidden;}
#dashboard h1{font-size:160%;margin-bottom:.5em;}
#dashboard h1 a{font-size:70%;font-weight:normal;}
.news{float:left;margin-top:15px;width:560px;}
.page-profile .news{float:none;width:auto;}
.profilecols .news .push li{margin-left:0;}
#keys h1 a{float:right;font-weight:normal;}
#keys .danger{font-weight:bold;color:#a00;}
#keys ul{list-style:none;}
#keys ul li{font-weight:bold;margin:.5em 0;}
#keys ul li a{font-weight:normal;}
#keys .key_editing textarea{width:36em;height:14em;display:block;margin-bottom:.7em;}
#keys .key_editing .object_error{color:#a00;border:1px solid #a00;background-color:#f2e1e1;padding:.5em;margin-top:.5em;}
#keys label{display:block;margin:.5em 0;color:#888;font-size:90%;}
#keys textarea{width:36em;height:12em;display:block;margin-bottom:.7em;}
ul.members{list-style:none;}
.members li{position:relative;font-size:14px;margin:0;padding:5px 0;height:24px;line-height:24px;font-weight:bold;}
.members li em{font-style:normal;color:#999;}
.members li a.follow{position:absolute;top:5px;right:0;}
.members li .gravatar{border:1px solid #ddd;padding:1px;background-color:white;float:left;margin-right:10px;}
#guides h1{margin-bottom:.5em;}
#guides .index ul{list-style-type:none;font-size:120%;}
#guides .index ul li{padding-left:1.5em;background:white url(/images/modules/guides/book.png) no-repeat;}
#guides .index .new{margin-top:1em;border-top:1px solid #ccc;padding-top:.5em;}
#guides .index .new ul li{background:white url(/images/modules/guides/book_add.png) no-repeat;}
#guides .index .new ul li a{color:#c00;}
#guides .write .delete_page{float:right;}
#guides .guide{overflow:hidden;}
#guides .guide .main{float:left;width:50em;}
#guides .guide .sidebar{float:right;width:15em;border-left:4px solid #e6e6e6;margin:2.1em 0 0 0;padding-left:1em;}
#guides .guide .sidebar h3{margin:0 0 .5em 0;}
#guides .guide .sidebar ul{list-style-type:none;margin:0;color:#888;}
#guides .guide .sidebar ul li{padding-left:12px;background:white url(/images/modules/guides/sidebar/bullet_blue.png) -4px 0 no-repeat;margin:.2em 0;}
#guides .admin{clear:both;margin-top:3em;border-top:4px solid #e6e6e6;padding-top:.3em;overflow:hidden;}
#guides .write label{font-size:110%;color:#666;display:block;margin:1em 0;}
#guides .write input.text,#guides .write textarea{padding:5px;border:1px solid #888;}
#guides .write input.text{width:40em;}
#guides .write textarea{width:100%;height:25em;}
#guides .write label span.title{color:black;font-weight:bold;}
#guides .write .actions input{margin-right:1em;}
.pagination{padding:.3em;margin:.3em;}
.pagination a{padding:.1em .3em;margin:.2em;border:1px solid #aad;text-decoration:none;color:#369;}
.pagination a:hover,.pagination a:active{border:1px solid #369;color:#000;}
.pagination span.current{padding:.1em .3em;margin:.2em;border:1px solid #369;font-weight:bold;background-color:#369;color:#FFF;}
.pagination span.disabled{padding:.1em .3em;margin:.2em;border:1px solid #eee;color:#ddd;}
.ajax_paginate a{padding:.5em;width:100%;text-align:center;display:block;}
ul#archive{list-style-type:none;text-align:center;}
ul#archive li{display:inline;}
#other_archives{border-top:1px solid #ddd;padding-top:.5em;}
#other_archives ul{list-style-type:none;width:8em;float:left;clear:right;}
#archives .wait{padding:2em 0 3em 0;}
#archives .wait h2,#archives .wait p{text-align:center;}
#services .test_hook{margin-top:.5em;}
.ac_results{-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;padding:3px;}
.ac_results ul li:first-child{-moz-border-radius-topright:8px;-moz-border-radius-topleft:8px;-webkit-border-top-right-radius:8px;-webkit-border-top-left-radius:8px;border-top-right-radius:8px;border-top-left-radius:8px;}
.ac_results ul li:last-child{-moz-border-radius-bottomright:8px;-moz-border-radius-bottomleft:8px;-webkit-border-bottom-right-radius:8px;-webkit-border-bottom-left-radius:8px;border-bottom-right-radius:8px;border-bottom-left-radius:8px;}
.ac_results img{padding:1px;background-color:white;border:1px solid #ccc;vertical-align:middle;}
.entice{opacity:.5;}
.clippy-tooltip{display:inline-block;}
#files{position:relative;}
#files .add-bubble{position:absolute;left:0;width:30px;height:14px;margin-left:-30px;margin-top:3px;background:url(/images/modules/comments/add_bubble.png) 0 0 no-repeat;cursor:pointer;opacity:0;-webkit-transition:opacity .1s linear;}
#files tr:hover .add-bubble{opacity:1.0;}
#files.commentable tr:hover td,#files.commentable tr:hover td .gd,#files.commentable tr:hover td .gi,#files.commentable tr:hover td .gc{background-color:#ffc;}
#files.commentable tr:hover td.line_numbers a,#files.commentable tr:hover td.line_numbers span{color:#555!important;}
#contact_us{width:60em;margin:1em auto 0 auto;}
#contact_us .header{background-color:#fffeeb;text-align:center;padding:.75em;margin-bottom:1em;}
#contact_us .header p{margin:.5em 0;font-size:110%;}
#contact_us .extra_contacts{background:#efe;padding:1em;}
#contact_us .feel_free{float:right;width:15em;margin-top:2.5em;text-align:right;}
table.padded{font-size:1.3em;}
table.padded tr th{background:#eee;text-align:right;padding:8px 15px;}
table.padded tr td{text-align:left;padding:8px;}
.wikistyle h1,.wikistyle h2,.wikistyle h3,.wikistyle h4,.wikistyle h5,.wikistyle h6{border:0!important;}
.wikistyle h1{font-size:170%!important;border-top:4px solid #aaa!important;padding-top:.5em!important;margin-top:1.5em!important;}
.wikistyle h1:first-child{margin-top:0!important;padding-top:.25em!important;border-top:none!important;}
.wikistyle h2{font-size:150%!important;margin-top:1.5em!important;border-top:4px solid #e0e0e0!important;padding-top:.5em!important;}
.wikistyle h3{margin-top:1em!important;}
.wikistyle p{margin:1em 0!important;line-height:1.5em!important;}
.wikistyle ul{margin:1em 0 1em 2em!important;}
.wikistyle ol{margin:1em 0 1em 2em!important;}
.wikistyle ul ul,.wikistyle ul ol,.wikistyle ol ol,.wikistyle ol ul{margin-top:0!important;margin-bottom:0!important;}
.wikistyle blockquote{margin:1em 0!important;border-left:5px solid #ddd!important;padding-left:.6em!important;color:#555!important;}
.wikistyle dt{font-weight:bold!important;margin-left:1em!important;}
.wikistyle dd{margin-left:2em!important;margin-bottom:1em!important;}
.wikistyle table{margin:1em 0!important;}
.wikistyle table th{border-bottom:1px solid #bbb!important;padding:.2em 1em!important;}
.wikistyle table td{border-bottom:1px solid #ddd!important;padding:.2em 1em!important;}
.wikistyle pre{margin:1em 0!important;font-size:90%!important;background-color:#f8f8ff!important;border:1px solid #dedede!important;padding:.5em!important;line-height:1.5em!important;color:#444!important;overflow:auto!important;}
.wikistyle pre code{padding:0!important;font-size:100%!important;background-color:#f8f8ff!important;border:none!important;}
.wikistyle code{font-size:90%!important;background-color:#f8f8ff!important;color:#444!important;padding:0 .2em!important;border:1px solid #dedede!important;}
.wikistyle pre.console{margin:1em 0!important;font-size:90%!important;background-color:black!important;padding:.5em!important;line-height:1.5em!important;color:white!important;}
.wikistyle pre.console code{padding:0!important;font-size:100%!important;background-color:black!important;border:none!important;color:white!important;}
.wikistyle pre.console span{color:#888!important;}
.wikistyle pre.console span.command{color:yellow!important;}
*{margin:0;padding:0;}
html,body{height:100%;color:black;}
body{background-color:white;font:13.34px helvetica,arial,freesans,clean,sans-serif;*font-size:small;}
table{font-size:inherit;font:100%;}
select,input[type=text],input[type=password],input[type=image],textarea{font:99% helvetica,arial,freesans,sans-serif;}
select,option{padding:0 .25em;}
optgroup{margin-top:.5em;}
input.text{padding:1px 0;}
pre,code{font:12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;}
body *{line-height:1.4em;}
p{margin:1em 0;}
img{border:0;}
abbr{border-bottom:none;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
* html .clearfix{height:1%;}
.clearfix{display:inline-block;}
.clearfix{display:block;}
html{overflow-y:scroll;}
a{color:#4183c4;text-decoration:none;}
a:hover{text-decoration:underline;}
.usingMouse a{outline:none;}
a.danger{color:#c00;}
a.action{color:#d00;text-decoration:underline;}
.sparkline{display:none;}
.right{float:right;}
.left{float:left;}
.hidden{display:none;}
img.help{vertical-align:middle;}
.notification{background:#FFFBE2 none repeat scroll 0;border:1px solid #FFE222;padding:1em;margin:1em 0;font-weight:bold;}
.warning{background:#fffccc;font-weight:bold;padding:.5em;margin-bottom:.8em;}
.error_box{background:#FFEBE8 none repeat scroll 0;border:1px solid #DD3C10;padding:1em;font-weight:bold;}
.rule{clear:both;margin:15px 0;height:0;overflow:hidden;border-bottom:1px solid #ddd;}
.corner{-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;padding:3px;}
#spinner{height:16px;width:16px;background:transparent;border:none;margin-right:0;}
.clear{clear:both;}
.columns:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
* html .columns{height:1%;}
.columns{display:inline-block;}
.columns{display:block;}
tr:hover .line-comments{background:#fafafa!important;}
.line_numbers.comment-count{overflow:hidden;padding:0!important;background-image:url(/images/modules/comments/lines_back.gif);background-color:#f6f6f6!important;background-repeat:repeat-y;background-position:top left,top right;border:1px solid #ddd;border-left:none;border-right:none;vertical-align:top;text-align:center!important;}
.line_numbers.comment-count .counter{display:inline-block;padding:4px 8px 5px 24px;line-height:1.2;font-family:helvetica,arial,freesans,sans-serif!important;font-size:11px;font-weight:bold;color:#333!important;background:url(/images/modules/comments/icons.png) 5px -97px no-repeat #d6e3e8;border:1px solid #c0ccd0;border-top:none;-webkit-border-bottom-right-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-radius-bottomright:3px;-moz-border-radius-bottomleft:3px;border-bottom-right-radius:3px;border-bottom-left-radius:3px;cursor:default!important;}
.line-comments .comment-form{margin:10px 0 5px 0;background-color:#eaeaea;}
.line-comments .comment-form textarea{font-size:12px;}
.line-comments .show-inline-comment-form{padding-top:5px;}
.file-comments{padding:5px;font-family:helvetica,arial,freesans,sans-serif!important;background:#fafafa;border-top:1px solid #ddd;}
ul.usernav{display:inline;margin:0;}
ul.usernav li{list-style-type:none;display:inline;margin:0;padding:0 0 0 15px;background:url(/images/modules/header/userbox/bar_separator.gif) 5px 0 no-repeat;}
ul.usernav li a{text-shadow:#fff 1px 1px 0;}
ul.nav{margin:1px 0 0 0;white-space:nowrap;}
ul.nav li{list-style-type:none;display:inline;margin:0 15px 0 0;font-size:12px;}
ul.nav.logged_out{margin-top:10px;margin-bottom:0;}
ul.nav.logged_out.nosearch{margin-top:25px;}
ul.nav.logged_out li{font-size:12px;margin-right:0;margin-left:20px;}
.syntax{background:#fff;}
.syntax .c{color:#998;font-style:italic;}
.syntax .err{color:#a61717;background-color:#e3d2d2;}
.syntax .k{font-weight:bold;}
.syntax .o{font-weight:bold;}
.syntax .cm{color:#998;font-style:italic;}
.syntax .cp{color:#999;font-weight:bold;}
.syntax .c1{color:#998;font-style:italic;}
.syntax .cs{color:#999;font-weight:bold;font-style:italic;}
.syntax .gd{color:#000;background-color:#fdd;}
.syntax .gd .x{color:#000;background-color:#faa;}
.syntax .ge{font-style:italic;}
.syntax .gr{color:#a00;}
.syntax .gh{color:#999;}
.syntax .gi{color:#000;background-color:#dfd;}
.syntax .gi .x{color:#000;background-color:#afa;}
.syntax .go{color:#888;}
.syntax .gp{color:#555;}
.syntax .gs{font-weight:bold;}
.syntax .gu{color:#aaa;}
.syntax .gt{color:#a00;}
.syntax .kc{font-weight:bold;}
.syntax .kd{font-weight:bold;}
.syntax .kp{font-weight:bold;}
.syntax .kr{font-weight:bold;}
.syntax .kt{color:#458;font-weight:bold;}
.syntax .m{color:#099;}
.syntax .s{color:#d14;}
.syntax .na{color:#008080;}
.syntax .nb{color:#0086B3;}
.syntax .nc{color:#458;font-weight:bold;}
.syntax .no{color:#008080;}
.syntax .ni{color:#800080;}
.syntax .ne{color:#900;font-weight:bold;}
.syntax .nf{color:#900;font-weight:bold;}
.syntax .nn{color:#555;}
.syntax .nt{color:#000080;}
.syntax .nv{color:#008080;}
.syntax .ow{font-weight:bold;}
.syntax .w{color:#bbb;}
.syntax .mf{color:#099;}
.syntax .mh{color:#099;}
.syntax .mi{color:#099;}
.syntax .mo{color:#099;}
.syntax .sb{color:#d14;}
.syntax .sc{color:#d14;}
.syntax .sd{color:#d14;}
.syntax .s2{color:#d14;}
.syntax .se{color:#d14;}
.syntax .sh{color:#d14;}
.syntax .si{color:#d14;}
.syntax .sx{color:#d14;}
.syntax .sr{color:#009926;}
.syntax .s1{color:#d14;}
.syntax .ss{color:#990073;}
.syntax .bp{color:#999;}
.syntax .vc{color:#008080;}
.syntax .vg{color:#008080;}
.syntax .vi{color:#008080;}
.syntax .il{color:#099;}

  </style>
</head>
<body>
  <div id="main">
    <div class="site">
      <div id="guides">
        <div class="guide">
          <div class="main">
            <!-- main content -->
            <%= if(name == nil) then "No page to render" else render("#{name}.html") end %>
          </div>
          <div class="sidebar">
            <%= render("toc.html")  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>