<h1>User's Guide - Bundles</h1>
<div class="wikistyle">
  <h2 id="40">Bundles</h2>
  <h3>Bundles that come pre-installed</h3>
  <p>Redcar comes with a number of pre-installed bundles.<br />
    <strong><span class="caps">TBD</span></strong></p>
  <h3>Installing new bundles</h3>
  <p><strong>Not all features of bundles are supported.</strong></p>
  <p>Currently supported features include snippets and themes.</p>
  <p>Redcar is installed under the ruby-gems directory. Depending on your platform and how you installed Redcar (all users or single user) the default directory may be different.</p>
  <p>Redcar should not be running to complete this installation.</p>
  <p>Open a command shell and go to the <code>~/.redcar/cache directory</code><sup class="footnote"><a href="#fn1">1</a></sup>. <br />
    Delete the file <code>textmate_bundles.cache</code>.<br />
    Copy the tmbundle file to the <code>~/.redcar/textmate/Bundles</code><br />
    (Bundles can also be copied to <code>/usr/lib/ruby/gems/ruby-version/gems/redcar-redcar-version/textmate/Bundles</code>)<br />
  .</p>
  <p>Restart Redcar and it will rebuild the bundles cache file. This could take a while.</p>
  <p><sup class="footnote"><a href="#fn1">1</a></sup> The tidal character (~) refers to the home directory on Unix. On Windows XP&#8482; this refers <code>C:\Document and Settings\_username_\</code> and on Windows Vista&#8482; this refers to <code>C:\Users\_username_</code>.</p>
</div>
