<h1>User's Guide - Keyboard Shortcuts</h1>
<div class="wikistyle">
  <p>The following is the most complete list of Keyboard Shortcuts I could find. <strong>The list is incomplete and is a work in progress.</strong></p>
  <p><em>Eventually each command will link to the more complete documentation for that command.</em></p>
  <table>
    <tr>
      <th>Command</th>
      <th><span class="caps">OSX</span></th>
      <th>Linux/Windows</th>
    </tr>
  	<tr>
      <td>NewCommand</td>
      <td>	Cmd+N	</td>
      <td>Ctrl+N</td>
    </tr>
  	<tr>
      <td>NewNotebookCommand	</td>
      <td>Cmd+Shift+N	</td>
      <td>Ctrl+Shift+N</td>
    </tr>
  	<tr>
      <td>NewWindowCommand	</td>
      <td>Cmd+Alt+N	</td>
      <td>Ctrl+Alt+N</td>
    </tr>
  	<tr>
      <td>Project::FileOpenCommand	</td>
      <td>Cmd+O	</td>
      <td>Ctrl+O</td>
    </tr>
  	<tr>
      <td>Project::DirectoryOpenCommand	</td>
      <td>Cmd+Shift+O	</td>
      <td>Ctrl+Shift+O</td>
    </tr>
  	<tr>
      <td>Project::FileSaveCommand	</td>
      <td>Cmd+S	</td>
      <td>Ctrl+S</td>
    </tr>
  	<tr>
      <td>Project::FileSaveAsCommand	</td>
      <td>Cmd+Shift+S	</td>
      <td>Ctrl+Shift+S</td>
    </tr>
  	<tr>
      <td>CloseTabCommand	</td>
      <td>Cmd+W	</td>
      <td>Ctrl+W</td>
    </tr>
  	<tr>
      <td>CloseWindowCommand	</td>
      <td>Cmd+Shift+W	</td>
      <td>Ctrl+Shift+W</td>
    </tr>
  	<tr>
      <td>QuitCommand</td>
      <td>	Cmd+Q	</td>
      <td>Ctrl+Q</td>
    </tr>
  	<tr>
      <td>EditView::InfoSpeedbarCommand	</td>
      <td>Cmd+Shift+E	</td>
      <td>Ctrl+Shift+E</td>
    </tr>
  	<tr>
      <td>UndoCommand</td>
      <td>	Cmd+Z	</td>
      <td>Ctrl+Z</td>
    </tr>
  	<tr>
      <td>RedoCommand	</td>
      <td>Cmd+Shift+Z	</td>
      <td>Ctrl+Y</td>
    </tr>
  	<tr>
      <td>CutCommand	</td>
      <td>Cmd+X	</td>
      <td>Ctrl+X</td>
    </tr>
  	<tr>
      <td>CopyCommand	</td>
      <td>Cmd+C	</td>
      <td>Ctrl+C</td>
    </tr>
  	<tr>
      <td>PasteCommand	</td>
      <td>Cmd+V	</td>
      <td>Ctrl+V</td>
    </tr>
  	<tr>
      <td>DuplicateCommand	</td>
      <td>Cmd+D	</td>
      <td>Ctrl+D</td>
    </tr>
  	<tr>
      <td>MoveHomeCommand	</td>
      <td>Ctrl+A	</td>
      <td>Ctrl+A</td>
    </tr>
  	<tr>
      <td>MoveEndCommand	</td>
      <td>Ctrl+E	</td>
      <td>Ctrl+E</td>
    </tr>
  	<tr>
      <td>DecreaseIndentCommand	</td>
      <td>Cmd+[	</td>
      <td>Ctrl+[</td>
    </tr>
  	<tr>
      <td>IncreaseIndentCommand	</td>
      <td>Cmd+]	</td>
      <td>Ctrl+]</td>
    </tr>
  	<tr>
      <td>AutoIndenter::IndentCommand	</td>
      <td>Cmd+Shift+I	</td>
      <td>Ctrl+Shift+[</td>
    </tr>
  	<tr>
      <td>GotoLineCommand	</td>
      <td>Cmd+L	</td>
      <td>Ctrl+L</td>
    </tr>
  	<tr>
      <td>SearchForwardCommand	</td>
      <td>Cmd+F	</td>
      <td>Ctrl+F</td>
    </tr>
  	<tr>
      <td>RepeatPreviousSearchForwardCommand	</td>
      <td>Cmd+G	</td>
      <td>F3</td>
    </tr>
  	<tr>
      <td>SelectAllCommand	</td>
      <td>Cmd+A	</td>
      <td>Ctrl+A</td>
    </tr>
  	<tr>
      <td>ToggleBlockSelectionCommand	</td>
      <td>Cmd+B	</td>
      <td>Ctrl+B</td>
    </tr>
  	<tr>
      <td>AutoCompleter::MenuAutoCompleterCommand	</td>
      <td>Ctrl+Escape	</td>
      <td>Ctrl+Shift+Space</td>
    </tr>
  	<tr>
      <td>Project::FindFileCommand	</td>
      <td>Cmd+T	</td>
      <td>Ctrl+T</td>
    </tr>
  	<tr>
      <td>MoveTabToOtherNotebookCommand	</td>
      <td>Cmd+Shift+Alt+O	</td>
      <td>Ctrl+Shift+Alt+O</td>
    </tr>
  	<tr>
      <td>SwitchNotebookCommand	</td>
      <td>Cmd+Alt+O	</td>
      <td>Ctrl+Alt+O</td>
    </tr>
  	<tr>
      <td>SwitchTabDownCommand	</td>
      <td>Cmd+Shift+[	</td>
      <td>Ctrl+Page Up</td>
    </tr>
  	<tr>
      <td>SwitchTabUpCommand	</td>
      <td>Cmd+Shift+]	</td>
      <td>Ctrl+Page Down</td>
    </tr>
  	<tr>
      <td>PrintScopeCommand	</td>
      <td>Ctrl+Shift+P	</td>
      <td>Ctrl+Shift+P</td>
    </tr>
  	<tr>
      <td>PluginManagerUi::ReloadLastReloadedCommand	</td>
      <td>Cmd+Shift+R	</td>
      <td>Ctrl+Shift+R</td>
    </tr>
  	<tr>
      <td>Snippets::OpenSnippetExplorer	</td>
      <td>Cmd+Alt+S	</td>
      <td>Ctrl+Alt+S</td>
    </tr>
  	<tr>
      <td>AutoCompleter::AutoCompleteCommand</td>
      <td>	</td>
      <td>	Ctrl+Space</td>
    </tr>
  </table>
</div>

    
