
      <h1>User's Guide - What Is Redcar</h1>

      <div class="wikistyle">
        <h2 id="10">What is Redcar?</h2>
<p>Redcar is an open-source programmers&#8217; text editor for Ruby, written in Ruby. It is designed to be compatible with Textmate bundles (a work in progress) and run cross-platform on JRuby. Redcar is currently in the middle of begin ported to JRuby, please subscribe to get updates on our progress.</p>
<h3 id="11">Getting Help</h3>
<p>Redcar has an active group of users. The users group is the best place to post questions concerning Redcar. The group at http://groups.google.com/group/redcar-editor. This books homepage is <a href="http://github.com/danlucraft/redcar/wikis/users-guide">http://github.com/danlucraft/redcar/wikis/users-guide</a> .</p>
<h3 id="12">Conventions</h3>
<p>The documentation in the User&#8217;s Guide follows the convention of naming tabs as Tabs instead of buffers or files. Tabs or both the UI representation and the data that make up it&#8217;s contents. When we want to refer to the data of the Tab we shall refer to it as the contents.</p>
      </div>
    </div>
    
